footer > nav {
  display: none;
}

footer > .footerBottom > .z {
  display: none;
}

footer {
  background-color: #ebe6df;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer .footerBottom > .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footerBottom > .socialMedia div {
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
}

a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  footer > nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer > .footerBottom > .z {
    display: inline;
  }
  footer {
    padding-top: 0;
    padding-bottom: 0;
  }
  footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 80px;
    margin: 0 auto;
  }
  footer nav ul li {
    font-size: 13px;
    padding: 7px 6px;
    color: #3d3d37;
  }
  footer nav ul li a:link,
  footer nav ul li a:visited {
    color: #3d3d37;
  }
  footer nav ul li a:hover {
    color: #E0B361;
  }
  footer nav ul li:first-child {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
  footer nav ul li:first-child a {
    display: block;
  }
  footer nav ul li:first-child a:link,
  footer nav ul li:first-child a:visited {
    color: black;
  }
  footer nav ul li:first-child a:hover {
    color: #E0B361;
  }
  .footerBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 220px;
    margin: 0 auto;
    margin-top: 50px;
    border-top: 2px solid #E0B361;
  }
  .footerBottom .z {
    margin-left: 5px;
    margin-top: 50px;
  }
  .footerBottom .z figure {
    margin-bottom: 15px;
  }
  .footerBottom .z span {
    font-size: 12px;
    color: #3d3d37;
    margin-right: 5px;
  }
  .footerBottom .z a:link,
  .footerBottom .z a:visited {
    font-size: 12px;
    color: #3d3d37;
  }
  .footerBottom .z a:hover {
    color: #E0B361;
  }
  .footerBottom .socialMedia {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    margin-top: 50px;
    width: 250px;
  }
}

@media screen and (min-width: 992px) {
  footer > nav,
  .footerBottom {
    width: 80%;
  }
  .footerBottom {
    border-top: 2px solid #E0B361;
  }
}

@media screen and (min-width: 1200px) {
  footer > nav,
  .footerBottom {
    width: 65%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

button {
  -webkit-transition: .5s;
  transition: .5s;
}

button:hover {
  background-color: grey !important;
  border: 2px solid grey !important;
  color: white !important;
}

.infsite {
  position: relative;
  background-color: rgba(92, 91, 89, 0);
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.infsite .tloo {
  display: block;
  margin: auto;
  position: absolute;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  min-height: 100%;
  z-index: -4;
}

.infsite div {
  width: 90%;
  margin: 0 auto;
}

.infsite div .textContainer {
  position: relative;
  color: white;
}

.infsite div .textContainer h2 {
  font-size: 50px;
  padding: 30px 0 15px 0;
}

.infsite div .textContainer .line {
  top: 29%;
  color: white;
  text-align: left;
  margin: 0;
}

.infsite div .textContainer span {
  display: inline-block;
  line-height: 1.6;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.infsite div button {
  text-transform: uppercase;
  width: 200px;
  height: 35px;
  margin: 20px 5%;
  color: white;
  border: 3px solid white;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .infsite .tloo {
    width: 260vw;
    bottom: 300px;
  }
  .infsite div {
    width: 80%;
    position: relative;
  }
  .infsite div .textContainer {
    width: 70%;
    margin: 0;
    padding: 70px 0 80px 0;
  }
  .infsite div .textContainer h2 {
    font-size: 50px;
  }
  .infsite div .textContainer .line {
    top: -18px;
  }
  .infsite div .textContainer span {
    line-height: 1.7;
    font-size: 16px;
  }
  .infsite div button {
    position: absolute;
    top: 50%;
    left: 75%;
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .infsite > div {
    width: 70%;
  }
}

@media screen and (min-width: 1001px) {
  .infsite .tloo {
    width: 195vw;
  }
}

@media screen and (min-width: 1200px) {
  .infsite > div {
    width: 50%;
  }
  .infsite .tloo {
    width: 170vw;
  }
}

@media screen and (min-width: 1401px) {
  .infsite .tloo {
    width: 155vw;
  }
}

@media screen and (min-width: 1501px) {
  .infsite .tloo {
    width: 130vw;
    bottom: 250px;
  }
}

.thematicdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 50px;
  background-color: white;
}

.thematicdiv figure > img {
  width: 100%;
}

article {
  width: 80%;
  padding: 20px 10% 20px 10%;
  background-color: #ebe6df;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

article h4 {
  font-size: 16px;
  color: #E0B361;
  padding: 30px 0 15px 0;
  width: 40%;
}

article h3 {
  font-size: 35px;
  padding: 30px 0 15px 0;
  width: 80%;
}

article .test {
  position: relative;
  margin-bottom: 20px;
}

article .line {
  top: 85%;
  text-align: left;
}

article span {
  display: inline-block;
  line-height: 1.5;
  margin-top: 15px;
  font-size: 14px;
}

article button {
  text-transform: uppercase;
  width: 145px;
  height: 35px;
  margin: 20px 0;
  border: 3px solid #E0B361;
  background: transparent;
  color: #E0B361;
}

@media screen and (min-width: 768px) {
  .thematicdiv {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 100px;
  }
  .thematicdiv figure {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 850px;
  }
  .thematicdiv figure img {
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .thematicdiv article {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 450px;
    padding: 20px 2% 20px 3%;
  }
  .thematicdiv article h4 {
    width: 180px;
  }
  .thematicdiv article h3 {
    width: 270px;
    font-size: 27px;
  }
  .thematicdiv article span {
    width: 245px;
    line-height: 1.8;
  }
  .thematicdiv article button {
    display: block;
    margin: 50px 0 0 0;
    width: 145px;
    height: 45px;
  }
}

@media screen and (min-width: 992px) {
  .thematicdiv > article {
    padding: 20px 6% 20px 6%;
  }
  .thematicdiv > article button {
    margin: 50px 0 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .thematicdiv > article {
    padding: 20px 5% 20px 8%;
  }
  .thematicdiv > article button {
    margin: 50px 0 0 0;
  }
}

header #nav figure {
  margin-top: 15px;
  position: absolute;
  display: block;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

header #nav nav {
  position: fixed;
  height: 100%;
  width: 40%;
  left: 100%;
  background-color: grey;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 1;
}

header #nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15vh;
  height: 40%;
}

header #nav nav ul li {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
}

header #nav nav ul li a:link,
header #nav nav ul li a:visited {
  color: white;
}

header #nav nav ul li a:hover {
  color: #E0B361;
}

header #nav .burger {
  position: fixed;
  width: 30px;
  height: 25px;
  right: 25px;
  top: 25px;
  z-index: 2;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header #nav .burger .line {
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header #nav .burger .line.b {
  margin-top: 10px;
}

header #nav .burger .line.c {
  margin-top: 20px;
}

header #nav .burger .line.act {
  margin-top: 10px;
}

header #nav .burger .line.act.a {
  -webkit-animation: rotateA 0.2s linear 0.3s forwards;
          animation: rotateA 0.2s linear 0.3s forwards;
}

header #nav .burger .line.act.b {
  -webkit-animation: rotateB 0.2s linear 0.3s forwards;
          animation: rotateB 0.2s linear 0.3s forwards;
}

header #nav .burger .line.act.c {
  -webkit-animation: rotateC 0.2s linear 0.3s forwards;
          animation: rotateC 0.2s linear 0.3s forwards;
}

header #nav .burger.active + nav {
  left: 60%;
}

@-webkit-keyframes rotateA {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes rotateA {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes rotateB {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateB {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotateC {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes rotateC {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media screen and (min-width: 600px) {
  header #nav nav {
    width: 30%;
  }
  header #nav .burger.active + nav {
    left: 70%;
  }
}

@media screen and (min-width: 768px) {
  header #nav figure {
    padding-left: 20px;
    position: absolute;
    display: block;
    margin-left: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  header #nav .burger.active + nav {
    left: auto;
  }
  header #nav nav {
    position: relative;
    height: auto;
    left: auto;
    display: block;
    padding-top: 28px;
    width: calc(100% - 210px);
    margin-left: 210px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: 0s;
    transition: 0s;
  }
  header #nav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px;
  }
  header #nav nav ul li {
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    margin-left: 0;
  }
  header #nav nav ul li a:link,
  header #nav nav ul li a:visited {
    color: white;
  }
  header #nav nav ul li a:hover {
    color: #E0B361;
  }
  header #nav .burger {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  header #nav figure {
    margin-left: 10%;
  }
  header #nav nav {
    width: calc(100% - 10% - 210px);
    margin-left: calc(210px + 10%);
  }
}

@media screen and (min-width: 1200px) {
  header #nav figure {
    margin-left: 17.5%;
    padding-left: 2.7%;
  }
  header #nav nav {
    width: calc(100% - 17.5% - 15% - 210px);
    margin-left: calc(210px + 17.5% + 5%);
  }
}

#kontakt #mapa {
  display: none;
}

.line {
  position: absolute;
  font-size: 35px;
  top: 16%;
  width: 100%;
  text-align: center;
  color: #E0B361;
}

header {
  position: relative;
  height: 300px;
}

header .tlo {
  height: 300px;
  width: 100%;
  z-index: -5;
  position: absolute;
  top: 0;
}

header #textHeader {
  padding: 120px 30px 0px 10%;
}

header #textHeader h1 {
  font-size: 35px;
  margin-bottom: 30px;
  color: white;
}

header #textHeader span {
  font-size: 13px;
  color: white;
}

.threebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 50px;
  background-color: white;
}

.threebox .information {
  position: relative;
  background-color: #ebe6df;
  width: 80%;
  max-width: 354px;
  min-height: 354px;
  margin: 25px auto;
}

.threebox .information > h3 {
  color: white;
  text-align: center;
  margin: 45px auto 15px auto;
  color: black;
  font-size: 30px;
}

.threebox .information > span {
  font-size: 14px;
  display: inline-block;
  line-height: 1.7;
  color: white;
  text-align: center;
  width: 80%;
  margin: 20px 0 20px 10%;
  padding-bottom: 60px;
  color: black;
}

.threebox .information > button {
  position: absolute;
  text-transform: uppercase;
  width: 120px;
  height: 35px;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 3px solid #E0B361;
  background: transparent;
  color: #E0B361;
}

.threebox .information:first-child {
  background-color: #E0B361;
}

.threebox .information:first-child > h3 {
  color: white;
}

.threebox .information:first-child > span {
  color: white;
}

.threebox .information:first-child > button {
  border: 3px solid white;
  background-color: #E0B361;
  color: white;
}

#wydarzenia {
  width: 80%;
  padding: 20px 10% 20px 10%;
  background-color: white;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
}

#wydarzenia header {
  height: auto;
}

#wydarzenia header h4 {
  text-align: center;
  font-size: 16px;
  color: #E0B361;
  padding: 30px 0 15px 0;
}

#wydarzenia header h2 {
  text-align: center;
  font-size: 50px;
  width: 100%;
  margin-bottom: 60px;
  font-size: 35px;
}

#wydarzenia header .line {
  top: 95px;
}

#wydarzenia #miejsceNaWydarzenia .event {
  position: relative;
  border: 3px solid #ebe6df;
  padding-bottom: 80px;
  margin-bottom: 25px;
}

#wydarzenia #miejsceNaWydarzenia .event .data {
  position: absolute;
  margin: 86px 0 0 40px;
}

#wydarzenia #miejsceNaWydarzenia .event .data p {
  position: absolute;
}

#wydarzenia #miejsceNaWydarzenia .event .data #dataP1 {
  font-size: 40px;
}

#wydarzenia #miejsceNaWydarzenia .event .data #dataP2 {
  margin: 5px 0 0 50px;
  color: grey;
}

#wydarzenia #miejsceNaWydarzenia .event .data #dataP3 {
  margin: 22px 0 0 55px;
  color: grey;
}

#wydarzenia #miejsceNaWydarzenia .event .nazwa h3 {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 20px;
}

#wydarzenia #miejsceNaWydarzenia .event .nazwa h4 {
  text-align: center;
  font-size: 16px;
  color: #E0B361;
}

#wydarzenia #miejsceNaWydarzenia .event button {
  position: absolute;
  text-transform: uppercase;
  width: 145px;
  height: 35px;
  margin: 20px 10px 20px 0;
  right: 0;
  border: 3px solid #E0B361;
  background-color: rgba(0, 0, 0, 0);
  color: #E0B361;
}

#kontakt {
  background-color: white;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-left: 10%;
  padding-right: 10%;
}

#kontakt #kont h4 {
  font-size: 16px;
  color: #E0B361;
  padding: 30px 0 15px 0;
  width: 40%;
}

#kontakt #kont h2 {
  font-size: 50px;
  padding: 0 0 15px 0;
  width: 80%;
}

#kontakt #kont .test {
  position: relative;
  margin-bottom: 40px;
}

#kontakt #kont .line {
  top: 60%;
  text-align: left;
}

#kontakt #kont form {
  position: relative;
  padding-bottom: 80px;
}

#kontakt #kont form .pole {
  background-color: #ebe6df;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #E0B361;
  padding-left: 15px;
}

#kontakt #kont form #wiadomosc {
  height: 130px;
  padding-top: 15px;
}

#kontakt #kont form #checkbox {
  width: 25px;
  height: 25px;
  margin: 25px 0;
}

#kontakt #kont form p {
  width: 80%;
  position: absolute;
  font-size: 10px;
  word-wrap: break-word;
  left: 15%;
  top: 270px;
}

#kontakt #kont form #submit {
  position: absolute;
  text-transform: uppercase;
  width: 200px;
  height: 35px;
  color: white;
  border: 1px solid #ebe6df;
  background-color: #E0B361;
  left: 0;
  margin-top: 95px;
}

@media (min-width: 768px) {
  header {
    height: 748px;
  }
  header .tlo {
    height: 748px;
    width: 100%;
    z-index: -5;
    position: absolute;
  }
  header #textHeader {
    margin: 120px 17.5%;
  }
  header #textHeader h1 {
    font-size: 90px;
  }
  header #textHeader span {
    letter-spacing: 0.25em;
  }
  .threebox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .threebox .information {
    margin: 25px 5px;
  }
  .threebox .information h3 {
    margin: 30px auto 15px auto;
  }
  .threebox .information .line {
    top: 13%;
  }
  .threebox .information button {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  #wydarzenia header h2 {
    font-size: 50px;
  }
  #wydarzenia #miejsceNaWydarzenia .event {
    position: relative;
    border: 3px solid #ebe6df;
    padding-bottom: 50px;
    margin-bottom: 25px;
  }
  #wydarzenia #miejsceNaWydarzenia .event .data {
    position: absolute;
    margin: 65px 0 0 40px;
  }
  #wydarzenia #miejsceNaWydarzenia .event .nazwa {
    margin-top: 40px;
  }
  #wydarzenia #miejsceNaWydarzenia .event button {
    position: absolute;
    text-transform: uppercase;
    width: 145px;
    height: 35px;
    margin: 65px 10px 20px 0;
    top: 0;
  }
}

@media (min-width: 992px) {
  header > #textHeader {
    margin: 120px 10%;
  }
  .threebox .information h3 {
    margin: 30px auto;
  }
  .threebox .information button {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #wydarzenia {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
  }
  #wydarzenia #miejsceNaWydarzenia .event .data {
    margin: 65px 0 0 15%;
  }
  #wydarzenia #miejsceNaWydarzenia .event .nazwa {
    margin-left: 30%;
  }
  #wydarzenia #miejsceNaWydarzenia .event .nazwa h3 {
    text-align: left;
  }
  #wydarzenia #miejsceNaWydarzenia .event .nazwa h4 {
    text-align: left;
  }
  #kontakt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #kontakt #kont {
    width: 50%;
  }
  #kontakt #mapa {
    display: block;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  body > header > #textHeader {
    margin: 120px 10%;
  }
  .threebox {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  #wydarzenia #miejsceNaWydarzenia .event .data {
    margin: 65px 0 0 20%;
  }
  #wydarzenia #miejsceNaWydarzenia .event .nazwa {
    margin-left: 33%;
  }
  #wydarzenia #miejsceNaWydarzenia .event button {
    margin: 65px 10% 20px 0;
  }
  #kontakt {
    background-color: white;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;
  }
  #kontakt #kont h4 {
    font-size: 16px;
    color: #E0B361;
    padding: 30px 0 15px 0;
    width: 40%;
  }
  #kontakt #kont h2 {
    padding: 0 0 15px 0;
    width: 80%;
  }
  #kontakt #kont form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding-bottom: 80px;
  }
  #kontakt #kont form .pole {
    background-color: #ebe6df;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #E0B361;
    padding-left: 15px;
  }
  #kontakt #kont form #email {
    width: 48%;
  }
  #kontakt #kont form #imie {
    width: 48%;
  }
  #kontakt #kont form #wiadomosc {
    height: 130px;
    padding-top: 15px;
  }
  #kontakt #kont form #checkbox {
    width: 25px;
    height: 25px;
    margin: 25px 0;
  }
  #kontakt #kont form p {
    width: 90%;
    left: 10%;
    top: 220px;
  }
  #kontakt #kont form #submit {
    left: 0;
    margin-top: 295px;
  }
}
/*# sourceMappingURL=mainStyle.css.map */